/*=============================== Main ============================*/

body {
  background-color: #4915f8;
}

input[type="button"] {
  cursor: pointer;
}

span {
  font-weight: bolder;
}

/* Color of text: */
.text {
  color: white;
}

/*======================= DashBoard Container =======================*/

/* Container: */

.dashboard_container {
  display: flex;
}

/* Image and Button manipulation: */

#logoImg {
  width: 100px;
  height: auto;
  padding-bottom: 15px;
  margin: 5px;
}
#logo {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  padding: 10px;
}
#login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#signInButton {
  color: white;
  border: none;
  background-color: #4915f8;
  margin-right: 10px;
}

#trailButton {
  color: white;
  border: none;
  /* background-color: #fca503; */
  border-radius: 15px;
  padding: 10px 25px;
  /* source: https://mycolor.space/gradient?ori=to+right&hex=%23EFBD5F&hex2=%23FCA503&sub=1 */
  background-image: linear-gradient(
    to right,
    #efbd5f,
    #f2b84e,
    #f5b23c,
    #f8ac27,
    #fca503
  );
}

/*======================= Top Container =======================*/

/* Containers: */
.top_container {
  margin: 160px 20px 0px 20px;
  display: flex;
  align-items: flex-end;
}
#top_subcontainer1 {
  max-width: 50%;
  flex-grow: 1;
}
#top_subcontainer2 {
  max-width: 50%;
  flex-grow: 1;
}

/* Buttons and Images: */

#trailButton2 {
  color: white;
  border: none;
  border-radius: 30px;
  margin-top: 25px;
  padding: 10px 40px;
  /* source: https://mycolor.space/gradient?ori=to+right&hex=%23EFBD5F&hex2=%23FCA503&sub=1 */
  background-image: linear-gradient(
    to right,
    #efbd5f,
    #f2b84e,
    #f5b23c,
    #f8ac27,
    #fca503
  );
}

#clout_img {
  width: 250px;
  height: auto;
}

#typing_img {
  width: 600px;
  height: auto;
  flex-grow: 1;
}

/* Text Formatting: */

#text1 {
  font-size: 35px;
  font-weight: 100;
  margin-bottom: 5px;
  font-family: sans-serif;
}

#text2 {
  font-size: 40px;
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 20px;

  font-family: sans-serif;
  font-weight: 600;
}
#text3 {
  font-size: 15px;
  color: #d4d4d4;
  font-family: ui-monospace;
  max-width: 85%;
}

/*======================= Middle Container =======================*/

.question-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: auto;
}

/*======================= Bottom Container =======================*/

/* Containers: */
#bottom_subcontainer1 {
  max-width: 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#bottom_subcontainer2 {
  max-width: 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom-container {
  display: flex;
}

/* Images: */

#brain_img {
  width: 400px;
  height: auto;
  flex-grow: 1;
}
#study_img {
  width: 350px;
  height: auto;
  flex-grow: 1;
  padding: 35px;
}

/* Text Formatting: */

#text4 {
  width: 80%;
  color: white;
  margin-bottom: 10px;
}
#text5 {
  color: #d4d4d4;
  font-family: ui-monospace;
  max-width: 80%;
}
#text6 {
  width: 80%;
  color: white;
  border-bottom: 3px solid white;
  padding-bottom: 3px;
}
#text7 {
  width: 80%;
  color: white;
}
#text8 {
  color: #d4d4d4;
  font-family: ui-monospace;
  max-width: 80%;
}
